* {
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  font-family: 'Andada Pro', serif;
  /* font-family: 'JetBrains Mono', monospace; */
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: rgb(11 0 43);
  padding: 0 16px;
}

@media all and (max-width: 480px) {
  .nav {
    padding: 0 8px;
  }
}

@media all and (min-width: 481px) and (max-width: 768px) {
  .nav {
    padding: 0 12px;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.sticky+.main {
  padding-top: 60px;
}

.nav>.nav-links {
  list-style: none;
  display: flex;
  gap: 12px;
}

.nav .my-portfolio {
  color: whitesmoke;;
}

.nav>.nav-links a {
  color: whitesmoke;
}

.main {
  margin-top: 24px;
  margin-left: 200px;
  margin-right: 200px;
}

@media all and (max-width: 480px) {
  .main {
    margin: 0 8px;
  }
}

@media all and (min-width: 481px) and (max-width: 768px) {
  .main {
    margin: 0 48px;
  }
}

.about-me {
  display: flex;
  align-items: center;
  gap: 28px;
}

.about-me>.my-pic {
  width: 100px;
  height: 100px;
}

.about-me>.my-pic>img {
  width: 100px;
  height: 100px;
  border-radius: 5%;
}

.my-skills .section-header {
  display: flex;
  justify-content: center;
}

.skills-list {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.skills-list-item {
  width: 48px;
  height: 48px;
}

.skills-list-item>img {
  width: 48px;
  height: 48px;
}

.projects .section-header {
  display: flex;
  justify-content: center;
}

.projects-list {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.projects-list-item {
  display: none;
}

.projects-list-item img {
  height: 480px;
  object-fit: cover;
}

@media all and (max-width: 480px) {
  .projects-list-item img {
    height: 200px;
  }
}

@media all and (min-width: 481px) and (max-width: 768px) {
  .projects-list-item img {
    height: 500px;
  }
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.contact-me .section-header {
  display: flex;
  justify-content: center;
}

form.contact-form {
  border: 1px solid black;
  padding: 12px;
}

form.contact-form label input,
form.contact-form label textarea {
  width: 100%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}